[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma migrate deploy && node src/app.js"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
